@import "../elements/variables";

.matching-system-info {
  padding: 20px 300px 20px 200px;

  table {
    border: 1px solid $light-gray;
    margin: 50px;

    th {
      background-color: lighten($brand-secondary, 20%);
      color: $white;
    }
  }
}
