@import "variables";

.navbar {
  background-color: $brand-secondary;
  border: none;
  height: 60px;

  a {
    color: $white;
  }

  .navbar-brand {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1.2px;
    line-height: 30px;
  }

  .navbar-nav {
    float: right;

    li {
      margin-right: 5px;
      
      a {
        display: inline;
        line-height: 60px;
        padding: 18px 30px;

        &.active,
        &:hover,
        &:visited {
          background-color: $brand-secondary;
          border-bottom: 5px solid $red;
        }
      }
    }
  }
}
