@import "variables";

.navbar {
  background-color: $brand-secondary;
  border: none;
  height: 60px;

  a {
    color: $white;
  }

  .navbar-brand {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1.2px;
    line-height: 30px;
  }

  .navbar-nav {
    float: right;

    li {
      padding: 13px 20px;

      &.active {
        border-bottom: 5px solid $red;
      }

      a {
        display: inline;
        line-height: 30px;

        &:hover, &:visited {
          background-color: lighten($brand-secondary, 10%);
        }
      }
    }
  }
}
