// 3rd party resources
@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

// application imports
@import "panels";

// application styles
body {
  background-color: $brand-primary;
  padding-top: 70px;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  color: $text-color;
}

.navbar {
  background-color: $brand-secondary;
  border: none;
  height: 60px;

  a {
    color: $white;
  }

  .navbar-brand {
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
  }

  .navbar-nav {
    float: right;

    a {
      line-height: 30px;

      &:hover, &:visited {
        background-color: lighten($brand-secondary, 10%);
      }
    }
  }
}

.header-logo {
  margin: 0 10px 0 20px;
}

.rotate {
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.rotate.right {
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.btn-primary {
  background-color: $red;
  margin: 12px;
  border: none;
}

.rms-thumbnail {
  padding: 5px;
  background-color: $very-light-gray;
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid $very-light-gray;
  text-align: center;

  &:hover {
    border: 3px solid $brand-primary;
    background-color: darken($very-light-gray, 2%);
  }

  .rms-name {
    font-weight: 500;
    font-size: 16px;
    border-top: 1px solid $light-gray;
    padding: 10px 0;
  }
}
