// 3rd party resources
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "variables";

// application imports
@import "animation";
@import "buttons";
@import "navbar";
@import "panels";

// application styles
body {
  background-color: $brand-primary;
  color: $text-color;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  padding-top: 70px;
}

.header-logo {
  margin: 0 10px 0 20px;
}

.results-overview {
  height: 300px;
  width: 300px;
}

.run-history-chart {
  height: 300px;
  width: 600px;
}

.rms-thumbnail {
  background-color: $very-light-gray;
  border-radius: 10px;
  border: 3px solid $very-light-gray;
  cursor: pointer;
  padding: 5px;
  text-align: center;

  &:hover {
    background-color: darken($very-light-gray, 2%);
    border: 3px solid $brand-primary;
  }

  .rms-name {
    border-top: 1px solid $light-gray;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
  }
}
