// 3rd party resources
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "variables";

// application imports
@import "animation";
@import "buttons";
@import "charts";
@import "modals";
@import "navbar";
@import "panels";

// application styles
body {
  background-color: $brand-primary;
  color: $text-color;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  padding-top: 70px;
}

a {
  color: $brand-primary;
}

.header-logo {
  margin: 0 10px 0 20px;
}

.results-detail {
  .loader {
    text-align: left;
  }
}

.rms-thumbnail {
  background-color: $very-light-gray;
  border-radius: 10px;
  border: 3px solid $very-light-gray;
  cursor: pointer;
  margin: 5px;
  min-height: 235px;
  min-width: 225px;
  padding: 5px;
  text-align: center;

  canvas {
    margin-bottom: 10px;
  }

  &:hover {
    background-color: darken($very-light-gray, 2%);
    border: 3px solid $brand-primary;
  }

  .rms-name {
    border-top: 1px solid $light-gray;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
  }
}

.loader {
  text-align: center;
}

.links-header {
  background-color: lighten($brand-secondary, 20%);
  color: $white;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  margin: 0 1px;
}
