// 3rd party resources
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// application imports
@import "elements/variables";

@import "components/context-list";
@import "components/header";
@import "components/matching-system-thumbnail";
@import "components/modals/new-context-modal";

@import "elements/animation";
@import "elements/buttons";
@import "elements/charts";
@import "elements/checkbox-radio";
@import "elements/modals";
@import "elements/navbar";
@import "elements/panels";
@import "elements/tables";

@import "vendors/font-awesome";

// application styles
body {
  background-color: $brand-primary;
  color: $text-color;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  padding-top: 70px;
  overflow-x: hidden;
}

a {
  color: $brand-primary;
}

.results-detail {
  .loader {
    text-align: left;
  }
}

.loader {
  text-align: center;
}

.links-header {
  background-color: lighten($brand-secondary, 20%);
  color: $white;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  margin: 0 1px;
}

.alert-banner {
  border-radius: 0;
}

.panel-body .alert-banner {
  margin-top: -15px;
}

.alert-danger {
  background-color: $red;
  border-color: $red;
  color: $white;
}
