@import "variables";

//-------------------------- PANELS -----------------------------------------//

.panel-group {
  margin-bottom: 10px;
}

.panel {
  &.panel-default {
    border-radius: 0;
    border: none;
  }

  .panel-heading {
    height: 40px;
    padding: 0;
    line-height: 40px;

    .panel-heading-label {
      background-color: $very-light-gray;

      i {
        margin-right: 10px;
      }
    }

    .panel-heading-selection {
      background-color: $white;

      i {
        line-height: 40px;
      }
    }
  }

  .panel-collapse {
    border-radius: 0;

    .list-group {
      .list-group-item {
        &:hover {
          background-color: $very-light-gray;
        }
      }
    }
  }
}

//-------------------------- PAGE SPECIFIC ----------------------------------//

.setup-to-match-system-list.panel {
  .panel-heading {
    height: 60px;
    border: none;
    margin: 0 0 3px 0;

    .panel-title {
      padding: 20px;
      font-weight: 400;
      font-size: 18px;
    }

    .format-piece {
      display: block;
      border: 1px solid $light-gray;
      background-color: $white;
      margin-top: 15px;
      height: 30px;
      line-height: 30px;
      border-radius: 4px;
    }
  }
}
