// Custom Colors
$green: #4CD7C0;
$red: #FF8889;
$white: #FFF;
$light-gray: #C0BEBE;
$very-light-gray: #F5F5F5;

// Bootstrap Variables
$brand-primary: #658999;
$brand-secondary: #394042;
// $brand-success: #5cb85c;
// $brand-warning: #f0ad4e;
// $brand-danger: #d9534f;
// $brand-info: #5bc0de;

// User Variables
$text-color: #5D5D5D;
$font-size-base: 14px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;