@import "variables";

.btn {
  &.btn-primary {
    background-color: $red;
    border: none;
    margin: 15px;

    &:hover,
    &:focus,
    &:active
    &:active:focus {
      background-color: darken($red, 5%);
      outline: none;
    }
  }

  &.btn-default {
    margin: 15px;

    &:hover,
    &:focus,
    &:active
    &:active:focus {
      outline: none;
    }
  }

  &.btn-panel {
    border-radius: 0;
    height: 50px;
    width: 120px;
    margin: 0;
  }
}
