@import "variables";

.btn {
  border-radius: 0;
  margin: 5px;
  min-height: 50px;
  min-width: 120px;

  &.btn-primary {
    background-color: $red;
    border: none;

    &:hover,
    &:focus,
    &:active
    &:active:focus {
      background-color: darken($red, 5%);
      outline: none;
    }
  }

  &.btn-default {
    &:hover,
    &:focus,
    &:active
    &:active:focus {
      outline: none;
    }
  }

  &.btn-panel {
    margin: 0;
  }
}
