@import "variables";

.navbar {
  background-color: $brand-secondary;
  border: none;
  height: 60px;

  a {
    color: $white;
  }

  .navbar-brand {
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1.2px;
    line-height: 30px;
  }

  .navbar-nav {
    float: right;

    li {
      margin-right: 5px;
      min-width: 105px;

      a {
        display: inline;
        line-height: 60px;
        padding: 18px 30px;

        &.active,
        &:hover,
        &:visited {
          background-color: $brand-secondary;
          border-bottom: 5px solid $red;
        }
      }

      &.dropdown {
        &.open > a {
          border-bottom: 5px solid $red;
        }

        .dropdown-menu {
          background-clip: initial;
          background-color: $brand-secondary;
          border-radius: 0;
          border: none;
          box-shadow: none;
          min-width: 110px;
          padding: 0;

          li {
            margin-right: 0;

            a {
              border-left: 5px solid $brand-secondary;
              color: $white;
              display: block;
              line-height: 20px;

              &:hover {
                border-bottom: none;
                border-left: 5px solid $red;
              }
            }
          }
        }
      }
    }
  }
}
