@import "variables";

.panel {

  //------------------------ DEFAULT PANELS ---------------------------------//
  &.panel-default {
    border-radius: 0;
    border: none;
    box-shadow: none;

    & > .panel-heading {
      border-radius: 0;

      .panel-title {
        font-size: 14px;
      }
    }
  }

  //------------------------ SHOW PANELS ------------------------------------//
  &.panel-show {
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin-top: 20px;

    & > .panel-heading {
      background-color: $brand-secondary;
      border-radius: 0;
      border: none;
      color: $white;
      height: 60px;
      margin: 0;
      padding: 0 10px;

      .panel-title {
        font-size: 18px;
        font-weight: 100;
        letter-spacing: 1.2px;
        padding: 20px;
      }

      .format-piece {
        background-color: $white;
        border-radius: 4px;
        border: 1px solid $light-gray;
        color: $brand-secondary;
        display: block;
        height: 30px;
        line-height: 30px;
        margin-top: 15px;
        padding-left: 10px;
      }
    }
  }

  //------------------------ COLLAPSIBLE PANELS -----------------------------//
  &.panel-collapsible {
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0;

    .panel-heading {
      padding: 0;
      height: 50px;
      line-height: 50px;
      background-color: $brand-secondary;
      border-radius: 0;

      .panel-title {
        font-size: 18px;
        font-weight: 100;
        letter-spacing: 1.2px;
        color: $white;
        padding: 0 20px;

        i {
          margin-right: 5px;
        }
      }

      a {
        color: $white;
        padding: 0 20px;
        font-size: 18px;
        cursor: pointer;

        i {
          line-height: 50px;
        }
      }
    }

    .panel-collapse {
      padding: 0;

      .list-group {
        margin: 0;

        .list-group-item {
          border: none;
          margin-bottom: 0;

          &:nth-child(odd),
          &.active:nth-child(odd) {
            background-color: $very-light-gray;
          }

          &.active {
            color: $text-color;
            background-color: inherit;
          }

          &:first-child,
          &:last-child {
            border-radius: 0;
          }
        }
      }
    }
  }
}

//-------------------------- GROUP PANELS -----------------------------------//
.panel-group {
  margin-bottom: 2px;

  //------------------------ LINK GROUP PANELS ------------------------------//
  .panel-link {

  }
}
